.note {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 5px;
}
  
.note:hover {
    background-color: rgb(236, 236, 236);
}
  
.text {
    width: 50%;
    font-size: 20px;
    overflow-wrap : break-word;
    margin-right: calc(50% - 350px);
}

.date {
    width: 150px;
    text-align: center;
}

@media screen and (max-width: 517px)
{
    .note {
        width: 100%;
        flex-direction: column;
        align-items: center;

    }
    .text {
        margin: auto;
        text-align: center;
    }

}