html {
    background-color: rgb(218, 218, 218);
    height: 100%;
  }
body {
    margin: 0px;
    height: 100%;
  }
header {
    background-color: rgb(255, 251, 0);
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

ul {
    padding: 0;
    list-style: none;
    height: auto;
    margin: 0%;
  }

li {
    float: left;
    margin: 7px 0px 7px 30px;
  }

main {
    max-width: 1000px;
    height: 100%;
    margin: 0  auto;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
  }