{% extends 'ew/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'ew/css/edit.css' %}">
{% endblock %}

{% block content %}
<br>
<form action="" method="POST" id="edit">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <br>
    <div id='buttons'>
    <div id='cancel' onClick="history.back();">キャンセル</div>
    <input type="submit" value="保存" id="save">
    </div>
</form>
<a href="{% url 'ew:exdelete' object.id %}" id="delete">削除</a>
{% endblock %}