{% extends 'note/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'note/css/index.css' %}">
{% endblock %}



{% block tools %}
<a href="{% url 'note:add' %}" class="tool">追加する</a>
{% endblock %}




{% block content %}
<main>
    {% for note in object_list %}
    <a style="text-decoration: none;color: black;" href="{% url 'note:detail' note.id %}">

    <div class='note'>
        {% if note.title == "タイトルなし" %}
        <div class='text'>{{ note.text|truncatechars:"40" }}</div>
        {% else %}
        <div class='text'>{{ note.title }}</div>
        {% endif %}
        <div class='date'>{{ note.created }}</div>

    </div></a>
    <hr>

    {% endfor %}
</main>
{% endblock %}