p {
    text-align: center;
}


#deletepost {
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 517px)
{
    #deletepost {
        margin-top: 90px;
        flex-direction: column;
        align-items: center;
    }
    #delete {
        margin-top: 30px;
    }
}

#cancel {
    width: 238px;
    height: 48px;
    text-align: center;
    line-height:48px;
    font-size: 20px;
    color: black;
    background-color: rgb(201, 201, 201);
    border: 1px solid rgb(112, 112, 112);
    text-decoration: none;
    cursor: pointer;
}

#cancel:hover {
    background-color: rgb(196, 196, 196);
}

#delete {
    width: 240px;
    height: 50px;
    text-align: center;
    line-height:50px;
    font-size: 20px;
    background-color: rgb(223, 136, 136);
    border: 1px solid rgb(112, 112, 112);
    cursor:pointer;
}

#delete:hover {
    background-color: rgb(223, 128, 128);
}

.example {
    display: block;
    margin: 15px auto
}