#edit, #add {
    width: 100%;
}

table {
    margin: auto;
    font-size: 18px;
}

th {
    font-weight: normal;
}

input, textarea {
    font-size: 16px;
}

#id_example {
    width: 196px;
    height: 20px;
    resize: none;
}

#buttons {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 517px)
{
    #buttons {
        margin-top: 0px;
        flex-direction: column;
        align-items: center;
    }
    #save {
        margin-top: 30px;
    }
}

#cancel {
    width: 238px;
    height: 48px;
    text-align: center;
    line-height:48px;
    font-size: 20px;
    color: black;
    background-color: rgb(201, 201, 201);
    border: 1px solid rgb(112, 112, 112);
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

#cancel:hover {
    background-color: rgb(196, 196, 196);
}

#save {
    display: block;
    width: 240px;
    height: 50px;
    text-align: center;
    line-height:50px;
    font-size: 20px;
    background-color: rgb(213, 255, 189);
    border: 1px solid rgb(112, 112, 112);
    border-radius: 5px;
    cursor:pointer;
}

#save:hover {
    background-color: rgb(223, 255, 199);
}

textarea {
    height: 100px;
    resize: none;
}

#delete {
    display: block;
    width: 240px;
    height: 50px;
    margin: auto;
    margin-top: 90px;
    text-align: center;
    line-height:50px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    background-color: rgb(223, 136, 136);
    border: 1px solid rgb(112, 112, 112);
    cursor:pointer;
}

#delete :hover {
    background-color: rgb(223, 128, 128);
}

#switch_label {
    height: 50px;
    width: 110px;
    margin: auto;
    margin-bottom: 30px;
    display: block;
    cursor: pointer;
    border: 2px solid rgb(170, 170, 170);
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    user-select: none;
}

#switch_label:hover {
    background-color: rgb(245, 245, 245)
}
#verb {
    display: inline-block;
    position: relative;
    top: -10px;
    
}

#switch_content {
	display: inline-block;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
    top: 4px;
    border-radius: 7px;
    width: 55px;
    height: 20px;
    background-color: rgba(34,31,31,.26);
	overflow: hidden;
}


#id_wverb {
	display: none;
}

#switch_circle {
	display: block;
	top: -37px;
	left: 45px;
	position: relative;
	width: 28px;
	height: 28px;
	border-radius: 20px;
	background-color: rgb(224, 224, 224);
	transition: all .1s;
    cursor: pointer;
}

#id_wverb:checked ~ #switch_circle {
	left: 82px;
	background-color: rgb(26, 115, 232);
}

#id_wverb:checked ~ #switch_content {
	border-color: transparent;
	transition: all 0s;
    background-color: rgb(130, 174, 233);
}
 